/************** Index Page Mobile Styles ****************************/

@media only screen and (max-width: 768px) {
    header .navbar-brand {
      padding-left: 1rem;
    }

 
   
    footer .row .col-md-2 {
      margin-top: 8vmin;
    } 



    #header-carousel .caption h1{
      font-size: 25px;
    }

    #header-carousel .caption h5{
      font-size: 5px;
    }

    #header-carousel .caption p{
      font-size: 5px;
    }

  }
  
 






/******************************************/